<% provide(:title, 'Update User Settings') %>
<h1>User Edit</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :phone %>
      <%= f.telephone_field :phone, class: 'form-control' %>

      <%= f.label :certification %>
      <%= f.select :certification,
            options_for_select(
              User::VALID_CERTIFICATION_LEVELS,
              @user.certification
        )
      %>

    <% if current_user == @user %>
        <h3> Password Reset </h3>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    <% end %>
    
      <% if is_admin? %>
        <h3> Update Role Grants </h3>
        <p>(hold down the Ctrl key while clicking to select or deselect roles)</p>
        <%= select_tag "role_ids[]", 
                options_from_collection_for_select(
                    Role.all,
                    "id",
                    "name",
                    selected: RoleGrant.where(:user_id => @user.id).collect {|grant| grant.role_id}
                ),
                {
                    multiple: true,
                    size: Role::VALID_ROLE_NAMES.length
                }
        %>
      <% end %>
      <%= f.submit "Update account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
