<%= form_for([
  shift.calendar.site, 
  shift.calendar, 
  shift
]) do |f| %>
  <% if shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.text_field :start_time %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.text_field :end_time %>
  </div>

  <div class="field">
    <%= f.label :efilers_needed_basic %>
    <%= f.number_field :efilers_needed_basic %>
  </div>

  <div class="field">
    <%= f.label :efilers_needed_advanced %>
    <%= f.number_field :efilers_needed_advanced %>
  </div>

  <div class="field">
    <%= f.label :calendar_id %>
    <%= f.number_field :calendar_id %>
  </div>

  <div class="field">
    <%= f.label :day_of_week %>
    <%= f.text_field :day_of_week %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
