<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @shift.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @shift.end_time %>
</p>

<p>
  <strong>Efilers needed basic:</strong>
  <%= @shift.efilers_needed_basic %>
</p>

<p>
  <strong>Efilers needed advanced:</strong>
  <%= @shift.efilers_needed_advanced %>
</p>

<p>
  <strong>Calendar:</strong>
  <%= @shift.calendar_id %>
</p>

<p>
  <strong>Day of week:</strong>
  <%= @shift.day_of_week %>
</p>

<%= link_to 'Edit', edit_site_calendar_shift_path(@shift.calendar.site.slug, @shift.calendar, @shift) %> |
<%= link_to 'Back', site_calendar_shifts_path(@shift.calendar.site.slug, @shift.calendar) %>
