<%= form_for(notification_registration) do |f| %>
  <% if notification_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notification_registration.errors.count, "error") %> prohibited this notification_registration from being saved:</h2>

      <ul>
      <% notification_registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :token %>
    <%= f.text_field :token %>
  </div>

  <div class="field">
    <%= f.label :platform %>
    <%= f.text_field :platform %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
