<p id="notice"><%= notice %></p>

<p>
  <strong>Slug:</strong>
  <%= @resource.slug %>
</p>

<p>
  <strong>Text:</strong>
  <%= @resource.text %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
