<p id="notice"><%= notice %></p>

<h1>Suggestions</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Subject</th>
      <th>Opened By</th>
      <th>From Client?</th>
      <th colspan="<%= (logged_in? && current_user.has_role?('Admin')) ? '3' : '1' %>"></th>
    </tr>
  </thead>

  <tbody>
    <% @suggestions.each do |suggestion| %>
      <tr>
        <td><%= suggestion.id %></td>
        <td><%= suggestion.subject %></td>
        <td><%= suggestion.user.nil? ? 'n/a' : suggestion.user.name %></td>
        <td><%= suggestion.from_public %></td>
        <td><%= link_to 'Show', suggestion %></td>
        <% if logged_in? && current_user.has_role?('Admin') %>
          <td><%= link_to 'Edit', edit_suggestion_path(suggestion) %></td>
          <td><%= link_to 'Destroy', suggestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
Download: <%= link_to 'CSV', suggestions_path(format: :csv) %> | <%= link_to 'XLS', suggestions_path(format: :xls) %><br />

<%= link_to 'New Suggestion', new_suggestion_path %>
