<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @suggestion.subject %>
</p>

<p>
  <strong>Details:</strong>
  <%= @suggestion.details %>
</p>

<% unless @suggestion.user.nil? %>
<p>
  <strong>Submitted By:</strong>
  <%= @suggestion.user.name %> (<%= @suggestion.user.email %>)
</p>
<% end %>
<p>
  <strong>Status:</strong>
  <%= @suggestion.status %>
</p>

<p>
  <strong>Public Feedback:</strong>
  <%= @suggestion.from_public %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
