<h1>Sites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Coordinates</th>
      <th>Place ID</th>
      <th>Site Coordinator</th>
      <th>Backup Coordinator</th>
      <th>Current Status</th>
      <% if is_admin? %>
      <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <% sc = begin
                (site.sitecoordinator.nil?) ? nil : User.find(site.sitecoordinator) 
              rescue ActiveRecord::RecordNotFound => e
                site.sitecoordinator = nil
                site.save
                nil
              end
      %>
      <% bc = begin
                (site.backup_coordinator_id.nil?) ? nil : User.find(site.backup_coordinator_id) 
              rescue ActiveRecord::RecordNotFound => e
                site.backup_coordinator = nil
                site.save
                nil
              end
      %>
      <tr>
        <td><%= link_to site.name, site_url(site.slug) %></td>
        <td><%= site.street %>, <%= site.city %>, <%= site.state %> <%= site.zip %></td>
        <td><%= site.latitude %>, <%= site.longitude %></td>
        <td><%= site.google_place_id %>
        <td><%= (sc.nil?) ? 'None Assigned' : sc.name %></td>
        <td><%= (bc.nil?) ? 'None Assigned' : bc.name %></td>
        <td><%= site.sitestatus %></td>
        <% if is_admin? %>
        <td><%= link_to 'Edit', edit_site_path(site.slug) %></td>
        <td><%= link_to 'Destroy', site_path(site.slug), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site', new_site_path %>
