<h1>Sites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Site Coordinator</th>
      <th>Site Status</th>
      <% if is_admin? %>
      <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <% sc = User.find(site.sitecoordinator) %>
      <tr>
        <td><%= link_to site.name, site %></td>
        <td><%= site.street %></td>
        <td><%= site.city %></td>
        <td><%= site.state %></td>
        <td><%= site.zip %></td>
        <td><%= site.latitude %></td>
        <td><%= site.longitude %></td>
        <td><%= (sc.nil?) ? 'None Assigned' : sc.email %></td>
        <td><%= site.sitestatus %></td>
        <% if is_admin? %>
        <td><%= link_to 'Edit', edit_site_path(site) %></td>
        <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site', new_site_path %>
