<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @site.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @site.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @site.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @site.zip %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @site.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @site.longitude %>
</p>

<p>
  <strong>Site Coordinator:</strong>
  <%= (@sitecoordinator.nil?) ? 'None Assigned' : @sitecoordinator.email %>
</p>

<p>
  <strong>Current Site Status:</strong>
  <%= @site.sitestatus %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
