<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @site.slug %>
</p>

<p>
  <strong>Address</strong>
  <%= @site.street %>, <%= @site.city %>, <%= @site.state %> <%= @site.zip %>
</p>

<p>
  <strong>Google Place ID:</strong>
  <%= @site.google_place_id %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @site.latitude %>, <%= @site.longitude %>
</p>

<p>
  <strong>Site Coordinator:</strong>
  <%= (@sitecoordinator.nil?) ? 'None Assigned' : @sitecoordinator.email %>
</p>
<p>
  <strong>Backup Site Coordinator:</strong>
  <%= (@backup_coordinator.nil?) ? 'None Assigned' : @backup_coordinator.email %>
</p>

<p>
  <strong>Current Site Status:</strong>
  <%= @site.sitestatus %>
</p>

<p>
  <strong>Default Hours</strong>
  <table>
    <tr>
      <th>Day</th>
      <th>Open</th>
      <th>Close</th>
      <th>eFilers Needed</th>
    </tr>
    <tr>
      <td>Monday</td>
      <td><%= @site.monday_open %></td>
      <td><%= @site.monday_close %></td>
      <td><%= @site.monday_efilers %></td>
    </tr>
    <tr>
      <td>Tuesday</td>
      <td><%= @site.tuesday_open %></td>
      <td><%= @site.tuesday_close %></td>
      <td><%= @site.tuesday_efilers %></td>
    </tr>
    <tr>
      <td>Wednesday</td>
      <td><%= @site.wednesday_open %></td>
      <td><%= @site.wednesday_close %></td>
      <td><%= @site.wednesday_efilers %></td>
    </tr>
    <tr>
      <td>Thursday</td>
      <td><%= @site.thursday_open %></td>
      <td><%= @site.thursday_close %></td>
      <td><%= @site.thursday_efilers %></td>
    </tr>
    <tr>
      <td>Friday</td>
      <td><%= @site.friday_open %></td>
      <td><%= @site.friday_close %></td>
      <td><%= @site.friday_efilers %></td>
    </tr>
    <tr>
      <td>Saturday</td>
      <td><%= @site.saturday_open %></td>
      <td><%= @site.saturday_close %></td>
      <td><%= @site.saturday_efilers %></td>
    </tr>
    <tr>
      <td>Sunday</td>
      <td><%= @site.sunday_open %></td>
      <td><%= @site.sunday_close %></td>
      <td><%= @site.sunday_efilers %></td>
    </tr>
  </table>
</p>

<p>
  <strong>Calendar</strong>
  <table>
    <tr>
      <th>Day</th>
      <th>Open</th>
      <th>eFilers Needed</th>
      <th>Close</th>
      <th>Backup Coordinator?</th>
    </tr>
    <% @site.calendars.each do |calendar_override| %>
    <tr>
      <td><%= calendar_override.date %></td>
      <td><%= calendar_override.is_closed ? '-closed-' : calendar_override.open %></td>
      <td><%= calendar_override.is_closed ? '-closed-' : calendar_override.close %></td>
      <td><%= calendar_override.efilers_needed %></td>
      <td><%= calendar_override.backup_coordinator_today ? '✓' : '' %></td>
    </tr>
    <% end %>
  </table>
</p>

<p>
<strong>Volunteer Signups</strong>
<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
  </tr>
  <% @site.signups.order(:date => :asc).each do |signup| %>
    <tr>
      <td><%= signup.date %></td>
      <td><%= link_to signup.user.name, user_path(signup.user) %></td>
    </tr>
  <% end %>
</table>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
